*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
#Kate
*.*~
#LaTeX interm res
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
#Result
idea.pdfidea.bib.bak
idea.tex.backup
